.tab-toolbar {
    display: flex;
    justify-content:left;
    gap: 0.25em;
    flex-direction: row;
    align-items: center;
    width:100%;
    background-color: var(--toolbar-background, #f5f5f5);
}
