.upload-button {
    display: inline-flex;
    gap: 1em;
    width: 10em;
    height: 4em;
}

.upload{
    font-size: 2em;
    background-color: none;
    border: none;
    border-radius: 0.25em;
    transition: background-color 0.15s ease-in-out;
    font-weight: bold;
}

.upload:hover{
    cursor: pointer;
    background-color: aqua;
}
