.settings-section {
    
    width: 100%;
    height: fit-content;
    border: solid;
    border-radius: 1em;
    padding: 1em;
    justify-content: center;
}

.settings-sub-section {
    width: 90%;
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    gap: 2em;
    padding-top: 1.25em;
    padding-bottom: 1.1em;
    font-weight: bold;
    font-size: 1.2em;
    border: groove;
    border-color: rgba(1,1,1,0.45);
    border-radius: 0.5em;
    margin: 1em;
}

select {
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
    margin-right: 2em;
}

input[type="range"] {
    width: 100%;
    margin-right: 2em;
}

input[type="text"] {
    border: none;
    height: 3em;
    width: 3em;
    font-size: 1em;
    text-align: center;
}

.input-group {
    display: inline-flex;
    border: solid;
    width: fit-content;
    height: fit-content;
    border-color: rgba(1,1,1,0.45);
    border-radius: 0.2em;
    margin-right: 2em;
}

    .input-group input {
        border: none;
        font-weight: bold;
        text-align: center;
    }

        .input-group input:focus {
            outline: none;
        }

.suffix {
    background: #f3f3f3;
    text-align: center;
    padding-top: 1.5em;
    font-size: 0.75em;
    font-weight: bold;
}

.toggle-switch {
    height: 1.2em;
    width: 1.2em;
    align-content: center;
    border: solid;
    border-radius: 0.25em;
    border-width: 0.075em;
}

    .toggle-switch:hover {
        cursor: pointer;
    }

.section-header {
    display: inline-flex;
    font-size: 3em;
    gap: 2em;
    padding-left: 0.25em;
    padding-bottom: 0.5em;
    border-bottom: groove;
    border-radius: 0.15em;
    width: 100%;
}

.section-body {
    transform-origin: top;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

    .section-body.expanded {
        transform: scaleY(1);
        max-height: fit-content;
        opacity: 1;
    }

    .section-body.collapsed {
        transform: scaleY(0);
        max-height: 0;
        opacity: 0;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.information{
    height: 3em;
    width: 3em;
}
