.result-section {
    display: flex;
    margin: 5%;
}

.result-section {
    display: flex;
    border: solid;
    padding: 1em;
    border-radius: 0.5em;
    border-color: rgba(0, 0, 0, 0.15);
}

.no-wrap {
    display: flex;
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 1em;
    align-self: center;
    font-weight: bold;
    font-size: 1.25em;
}
