.browser-item {
    border: solid;
    border-radius: 0.25em;
    border-width: 0.2em;
    width: 100%;
    height: 2em;
    text-align: center;
    background-color: none;
    padding: 0.1em;
}

    .browser-item:hover {
        border: solid;
        border-radius: 0.25em;
        border-width: 0.2em;
        width: 100%;
        height: 2em;
        text-align: center;
        background-color: aqua;
        cursor: pointer;
    }

.browser-item-button {
    border: none;
    background: none;
}
    .browser-item-button:hover {
        cursor: pointer;
    }
