.tooltipped-widget {
    position: relative;
    display: inline-flex;
    height: inherit;
    width: inherit;
    max-height: inherit;
    max-width: inherit;
}

.tooltip {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0, 0, 0);
    color: rgb(255,255,255);
    padding: 0.35em;
    border-radius: 0.25em;
    font-size: 1em;
    white-space: nowrap;
    transition: opacity 0.1s ease-in-out;
}

    .tooltip.enabled {
        opacity: 1;
        max-height: fit-content;
    }

    .tooltip.disabled {
        opacity: 0;
    }
