.slider-wrapper {
    position: relative;
    display: inline-flex;
}

.slider-popup {
    width: 16em;
    display: inline-flex;
    position: absolute;
    gap: 1em;
    bottom: 200%;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0,0,0);
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    align-items: center;

    transition: opacity 0.5s ease-in-out;
}

    .slider-popup.enabled {
        opacity: 1;
    }

    .slider-popup.disabled {
        opacity: 0;
    }

input[type="range"] {
    width: 6em;
}

.slider-title {
    text-align: center;
}

.suffix{
    width: 4em;
}
