.toolbar-button {
    height: inherit;
    width: inherit;
    transition: background-color 0.15s ease-in-out;
}

    .toolbar-button:hover {
        background-color: rgb(39, 208, 177);
        cursor:pointer;
    }


    .toolbar-button.enabled {
        background-color: none;
    }

    .toolbar-button.disabled {
        background-color: rgb(60, 238, 83);
        cursor: default;
    }
