.toolbar-button {
    height: inherit;
    width: inherit;
    transition: background-color 0.15s ease-in-out;
}


    .toolbar-button.enabled {
        background-color: none;
    }

    .toolbar-button.disabled {
        background-color: rgba(245, 44, 44, 0.5);
        cursor: default;
    }