.tab-view {
    min-height: 25vw;
    margin: 0.15em;
    background-color: azure;
    border: solid;
    border-width: 0.1em;
    width: 100%;
}

.tab-bars-container {
    display: inline-flex;
    padding: 1em;
    flex-wrap: wrap;
}
