.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.25s ease-in-out, border-top 0.25s ease-in-out;
}

    .toolbar.expanded {
        border-top: solid;
        background-color: white;
    }

    .toolbar.collapsed {
        border-top: none;
        background-color: none;
    }

.toolbar-section {
    display: inline-flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    gap: 0.5em;
    margin: 0.2em;
    padding: 0.4em;
    transition: border 0.25s ease-in-out;
    border-radius: 0.25em;
    border: solid;
    border-width: 0.1em;
    border-color: rgba(1,1,1,0.4)
}

.toolbar-header {
    display: inline-flex;
    padding-bottom: 0.1em;
    padding-right: 2em;
    padding-left: 0.5em;
}

.toolbar-title {
    align-content: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    max-height: 4em;
    transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
}

.toolbar-body {
    display: inline-flex;
    transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transform-origin: top;
    align-items: center;
    gap: 0.5em;
}


    .toolbar-body.expanded {
        max-height: 4em;
        opacity: 1;
    }

    .toolbar-body.collapsed {
        max-height: 0em;
        opacity: 0;
    }

.toggle-switch {
    border: solid;
    border-radius: 0.5em;
    text-align: center;
    height: 8em;
    width: 8em;
    align-content: center;
    transition: max-height 0.25s ease-in-out, max-width 0.25s ease-in-out, margin 0.25s ease-in-out;
}

    .toggle-switch.expanded {
        max-width: 3em;
        max-height: 3em;
        margin: 0.2em;
    }

    .toggle-switch.collapsed {
        max-width: 2em;
        max-height: 2em;
        margin: 0.1em;
    }

    .toggle-switch:hover {
        cursor: pointer;
    }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
