.pitch-detctor {
    height: fit-content;
    width: fit-content;
    aspect-ratio: 1 / 1;
    border: 0.25em;
    border-style: solid;
    border-radius: 0.5em;
    margin-top: 1em;
    padding: 0.25em;
    align-content:center;
}
