.tab-browser-search-bar {
    display: inline-flex;
    border: solid;
    width: 100%;
    padding: 1em;
    gap: 10%;
    margin-top: 3em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    border-color: rgba(1,1,1,0.75);
}

.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-title{
    display: inline-flex;
    font-weight: bold;
    font-size: 3em;
    gap: 0.5em;
}

.search-box{
    border: solid;
    border-radius: 0.25em;
    width: 50%;
    font-size: 2em;
    padding-left: 0.5em;
}

    .search-box:hover {
        background-color: rgb(39, 208, 177);
    }

.enter-button{
    width: 10%;
    border: solid;
    border-radius: 0.5em;
    background-color: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

    .enter-button:hover {
        background-color: rgb(39, 208, 177);
    }

.result {
    display: flex;
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 0.5em;
    align-items: center;
    height: 1em;
    padding: 1em;
}

    .result:hover {
        background-color: rgb(39, 208, 177);
        cursor: pointer;
    }
